{% extends "base_generic.html" %}

{% block content %}
  <h1 class="text-danger">Dibliothek Home</h1>
  <p class="lead">
    Welcome to Dibliothek, a website developed with
    <em>excitement</em>!
  </p>  
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <li><strong>Genres:</strong> {{ num_genres }}</li>
  </ul>

  <p class="text-secondary">
    You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.
  </p>
  <figure class="text-end">
    <blockquote class="blockquote">
      <p>Today a reader, tomorrow a leader.</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      Margaret Fuller
    </figcaption>
  </figure>
{% endblock %}
