{% extends "base_generic.html" %}

{% block content %}

  <h1>Book List</h1>
  <br />
  <ul  class="list-group">
    {% for book in book_list %}
      <li class="list-group-item">
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
        ({{book.author}})
      </li>
    {% empty %}
      <p>There are no books in the library.</p>
    {% endfor %}
  </ul>
  <figure class="text-end">
    <blockquote class="blockquote">
      <p>A room without books is like a body without a soul.</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      Cicero
    </figcaption>
  </figure>
    
{% endblock %}
